In [1]:
import pandas as pd

In [2]:
titanic_suvival = pd.read_csv("titanic_train.csv")

In [5]:
age = titanic_suvival["Age"]
age_is_null = pd.isnull(age)
# print(age_is_null)
age_null_ture = age[age_is_null]
print(age_null_ture)
age_null_count = len(age_null_ture)
print(age_null_count)

5     NaN
17    NaN
19    NaN
26    NaN
28    NaN
29    NaN
31    NaN
32    NaN
36    NaN
42    NaN
45    NaN
46    NaN
47    NaN
48    NaN
55    NaN
64    NaN
65    NaN
76    NaN
77    NaN
82    NaN
87    NaN
95    NaN
101   NaN
107   NaN
109   NaN
121   NaN
126   NaN
128   NaN
140   NaN
154   NaN
       ..
718   NaN
727   NaN
732   NaN
738   NaN
739   NaN
740   NaN
760   NaN
766   NaN
768   NaN
773   NaN
776   NaN
778   NaN
783   NaN
790   NaN
792   NaN
793   NaN
815   NaN
825   NaN
826   NaN
828   NaN
832   NaN
837   NaN
839   NaN
846   NaN
849   NaN
859   NaN
863   NaN
868   NaN
878   NaN
888   NaN
Name: Age, dtype: float64
177

In [6]:
good_ages = titanic_suvival["Age"][age_is_null == False]
mean_gooe_ages = sum(good_ages) / len(good_ages)
print(mean_gooe_ages)

29.69911764705882

In [7]:
good = titanic_suvival["Age"].mean()
print(good)

29.69911764705882

In [9]:
passenger_classes = [1,2,3]
fares_by_class = {}
for this_class in passenger_classes:
    pclass_rows = titanic_suvival[titanic_suvival["Pclass"] == this_class]
    pclass_fares = pclass_rows["Fare"]
    fares_by_class[this_class] = pclass_fares.mean()
print(fares_by_class)

{1: 84.15468749999992, 2: 20.66218315217391, 3: 13.675550101832997}

In [11]:
import numpy as np
passengers_survival = titanic_suvival.pivot_table(index="Pclass",values="Survived",aggfunc=np.mean)
print(passengers_survival)

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [12]:
passenger_age = titanic_suvival.pivot_table(index="Pclass",values="Age")
print(passenger_age)

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [13]:
port_stats = titanic_suvival.pivot_table(index="Embarked",values=["Fare","Survived"],aggfunc=np.sum)
print(port_stats)

                Fare  Survived
Embarked
C         10072.2962        93
Q          1022.2543        30
S         17439.3988       217

In [14]:
print(titanic_suvival["Age"])

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5       NaN
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      NaN
18     31.0
19      NaN
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26      NaN
27     19.0
28      NaN
29      NaN
       ...
861    21.0
862    48.0
863     NaN
864    24.0
865    42.0
866    27.0
867    31.0
868     NaN
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878     NaN
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, dtype: float64

In [15]:
print(len(titanic_suvival["Age"]))

891

In [17]:
print(len(titanic_suvival))

891

In [22]:
new_titanic_survival = titanic_suvival.dropna(axis=0,subset=["Age"])
print(len(new_titanic_survival))

714

In [19]:
print(len(titanic_suvival["Age"]))

891

In [24]:
def generate_age_label(row):
    age = row["Age"]
    if pd.isnull(age):
        return "unkown"
    elif age < 18:
        return "minor"
    else:
        return "adult"

age_labels = titanic_suvival.apply(generate_age_label,axis=1)
print(age_labels)

0       adult
1       adult
2       adult
3       adult
4       adult
5      unkown
6       adult
7       minor
8       adult
9       minor
10      minor
11      adult
12      adult
13      adult
14      minor
15      adult
16      minor
17     unkown
18      adult
19     unkown
20      adult
21      adult
22      minor
23      adult
24      minor
25      adult
26     unkown
27      adult
28     unkown
29     unkown
        ...
861     adult
862     adult
863    unkown
864     adult
865     adult
866     adult
867     adult
868    unkown
869     minor
870     adult
871     adult
872     adult
873     adult
874     adult
875     minor
876     adult
877     adult
878    unkown
879     adult
880     adult
881     adult
882     adult
883     adult
884     adult
885     adult
886     adult
887     adult
888    unkown
889     adult
890     adult
dtype: object

In [25]:
titanic_suvival["age_labels"] = age_labels
age_group_survival = titanic_suvival.pivot_table(index="age_labels",values="Survived")
print(age_group_survival)

age_labels
adult     0.381032
minor     0.539823
unkown    0.293785
Name: Survived, dtype: float64

In [26]:
#Series结构

In [27]:
fandango = pd.read_csv("fandango_score_comparison.csv")
series_film = fandango["FILM"]
print(type(series_film))
print(series_film[:5])
series_rt = fandango["RottenTomatoes"]
print(series_rt[:5])

<class 'pandas.core.series.Series'>
0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object
0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

In [46]:
film_names = series_film.values
# print((film_names))
rt_scores = series_rt.values
series_custom = pd.Series(rt_scores,index=film_names)
print(series_custom[5:10])

The Water Diviner (2015)        63
Irrational Man (2015)           42
Top Five (2014)                 86
Shaun the Sheep Movie (2015)    99
Love & Mercy (2015)             89
dtype: int64

In [51]:
series_index = series_custom.index.tolist()
sorted_index = sorted(series_index)
series_by_custom = series_custom.reindex(sorted_index)
print(series_by_custom)
print(series_custom)

'71 (2015)                                         97
5 Flights Up (2015)                                52
A Little Chaos (2015)                              40
A Most Violent Year (2014)                         90
About Elly (2015)                                  97
Aloha (2015)                                       19
American Sniper (2015)                             72
American Ultra (2015)                              46
Amy (2015)                                         97
Annie (2014)                                       27
Ant-Man (2015)                                     80
Avengers: Age of Ultron (2015)                     74
Big Eyes (2014)                                    72
Birdman (2014)                                     92
Black Sea (2015)                                   82
Black or White (2015)                              39
Blackhat (2015)                                    34
Cake (2015)                                        49
Chappie (2015)                                     30
Child 44 (2015)                                    26
Cinderella (2015)                                  85
Clouds of Sils Maria (2015)                        89
Danny Collins (2015)                               77
Dark Places (2015)                                 26
Do You Believe? (2015)                             18
Dope (2015)                                        87
Entourage (2015)                                   32
Escobar: Paradise Lost (2015)                      52
Ex Machina (2015)                                  92
Fantastic Four (2015)                               9
                                                   ..
The Loft (2015)                                    11
The Longest Ride (2015)                            31
The Man From U.N.C.L.E. (2015)                     68
The Overnight (2015)                               82
The Salt of the Earth (2015)                       96
The Second Best Exotic Marigold Hotel (2015)       62
The SpongeBob Movie: Sponge Out of Water (2015)    78
The Stanford Prison Experiment (2015)              84
The Vatican Tapes (2015)                           13
The Water Diviner (2015)                           63
The Wedding Ringer (2015)                          27
The Wolfpack (2015)                                84
The Woman In Black 2 Angel of Death (2015)         22
The Wrecking Crew (2015)                           93
Timbuktu (2015)                                    99
Tomorrowland (2015)                                50
Top Five (2014)                                    86
Trainwreck (2015)                                  85
True Story (2015)                                  45
Two Days, One Night (2014)                         97
Unbroken (2014)                                    51
Unfinished Business (2015)                         11
Unfriended (2015)                                  60
Vacation (2015)                                    27
Welcome to Me (2015)                               71
What We Do in the Shadows (2015)                   96
When Marnie Was There (2015)                       89
While We're Young (2015)                           83
Wild Tales (2014)                                  96
Woman in Gold (2015)                               52
dtype: int64
'71 (2015)                                         97
5 Flights Up (2015)                                52
A Little Chaos (2015)                              40
A Most Violent Year (2014)                         90
About Elly (2015)                                  97
Aloha (2015)                                       19
American Sniper (2015)                             72
American Ultra (2015)                              46
Amy (2015)                                         97
Annie (2014)                                       27
Ant-Man (2015)                                     80
Avengers: Age of Ultron (2015)                     74
Big Eyes (2014)                                    72
Birdman (2014)                                     92
Black Sea (2015)                                   82
Black or White (2015)                              39
Blackhat (2015)                                    34
Cake (2015)                                        49
Chappie (2015)                                     30
Child 44 (2015)                                    26
Cinderella (2015)                                  85
Clouds of Sils Maria (2015)                        89
Danny Collins (2015)                               77
Dark Places (2015)                                 26
Do You Believe? (2015)                             18
Dope (2015)                                        87
Entourage (2015)                                   32
Escobar: Paradise Lost (2015)                      52
Ex Machina (2015)                                  92
Fantastic Four (2015)                               9
                                                   ..
The Loft (2015)                                    11
The Longest Ride (2015)                            31
The Man From U.N.C.L.E. (2015)                     68
The Overnight (2015)                               82
The Salt of the Earth (2015)                       96
The Second Best Exotic Marigold Hotel (2015)       62
The SpongeBob Movie: Sponge Out of Water (2015)    78
The Stanford Prison Experiment (2015)              84
The Vatican Tapes (2015)                           13
The Water Diviner (2015)                           63
The Wedding Ringer (2015)                          27
The Wolfpack (2015)                                84
The Woman In Black 2 Angel of Death (2015)         22
The Wrecking Crew (2015)                           93
Timbuktu (2015)                                    99
Tomorrowland (2015)                                50
Top Five (2014)                                    86
Trainwreck (2015)                                  85
True Story (2015)                                  45
Two Days, One Night (2014)                         97
Unbroken (2014)                                    51
Unfinished Business (2015)                         11
Unfriended (2015)                                  60
Vacation (2015)                                    27
Welcome to Me (2015)                               71
What We Do in the Shadows (2015)                   96
When Marnie Was There (2015)                       89
While We're Young (2015)                           83
Wild Tales (2014)                                  96
Woman in Gold (2015)                               52
dtype: int64

In [52]:
print(series_custom)
sc2 = series_custom.sort_index(inplace=False)#inplace=TRUE是在原先的数据上进行修改，无返回值
sc2_1 = series_custom.sort_values(inplace=False)
# help(pd.Series.sort_index)
print(series_custom)
print(sc2_1)

'71 (2015)                                         97
5 Flights Up (2015)                                52
A Little Chaos (2015)                              40
A Most Violent Year (2014)                         90
About Elly (2015)                                  97
Aloha (2015)                                       19
American Sniper (2015)                             72
American Ultra (2015)                              46
Amy (2015)                                         97
Annie (2014)                                       27
Ant-Man (2015)                                     80
Avengers: Age of Ultron (2015)                     74
Big Eyes (2014)                                    72
Birdman (2014)                                     92
Black Sea (2015)                                   82
Black or White (2015)                              39
Blackhat (2015)                                    34
Cake (2015)                                        49
Chappie (2015)                                     30
Child 44 (2015)                                    26
Cinderella (2015)                                  85
Clouds of Sils Maria (2015)                        89
Danny Collins (2015)                               77
Dark Places (2015)                                 26
Do You Believe? (2015)                             18
Dope (2015)                                        87
Entourage (2015)                                   32
Escobar: Paradise Lost (2015)                      52
Ex Machina (2015)                                  92
Fantastic Four (2015)                               9
                                                   ..
The Loft (2015)                                    11
The Longest Ride (2015)                            31
The Man From U.N.C.L.E. (2015)                     68
The Overnight (2015)                               82
The Salt of the Earth (2015)                       96
The Second Best Exotic Marigold Hotel (2015)       62
The SpongeBob Movie: Sponge Out of Water (2015)    78
The Stanford Prison Experiment (2015)              84
The Vatican Tapes (2015)                           13
The Water Diviner (2015)                           63
The Wedding Ringer (2015)                          27
The Wolfpack (2015)                                84
The Woman In Black 2 Angel of Death (2015)         22
The Wrecking Crew (2015)                           93
Timbuktu (2015)                                    99
Tomorrowland (2015)                                50
Top Five (2014)                                    86
Trainwreck (2015)                                  85
True Story (2015)                                  45
Two Days, One Night (2014)                         97
Unbroken (2014)                                    51
Unfinished Business (2015)                         11
Unfriended (2015)                                  60
Vacation (2015)                                    27
Welcome to Me (2015)                               71
What We Do in the Shadows (2015)                   96
When Marnie Was There (2015)                       89
While We're Young (2015)                           83
Wild Tales (2014)                                  96
Woman in Gold (2015)                               52
dtype: int64
'71 (2015)                                         97
5 Flights Up (2015)                                52
A Little Chaos (2015)                              40
A Most Violent Year (2014)                         90
About Elly (2015)                                  97
Aloha (2015)                                       19
American Sniper (2015)                             72
American Ultra (2015)                              46
Amy (2015)                                         97
Annie (2014)                                       27
Ant-Man (2015)                                     80
Avengers: Age of Ultron (2015)                     74
Big Eyes (2014)                                    72
Birdman (2014)                                     92
Black Sea (2015)                                   82
Black or White (2015)                              39
Blackhat (2015)                                    34
Cake (2015)                                        49
Chappie (2015)                                     30
Child 44 (2015)                                    26
Cinderella (2015)                                  85
Clouds of Sils Maria (2015)                        89
Danny Collins (2015)                               77
Dark Places (2015)                                 26
Do You Believe? (2015)                             18
Dope (2015)                                        87
Entourage (2015)                                   32
Escobar: Paradise Lost (2015)                      52
Ex Machina (2015)                                  92
Fantastic Four (2015)                               9
                                                   ..
The Loft (2015)                                    11
The Longest Ride (2015)                            31
The Man From U.N.C.L.E. (2015)                     68
The Overnight (2015)                               82
The Salt of the Earth (2015)                       96
The Second Best Exotic Marigold Hotel (2015)       62
The SpongeBob Movie: Sponge Out of Water (2015)    78
The Stanford Prison Experiment (2015)              84
The Vatican Tapes (2015)                           13
The Water Diviner (2015)                           63
The Wedding Ringer (2015)                          27
The Wolfpack (2015)                                84
The Woman In Black 2 Angel of Death (2015)         22
The Wrecking Crew (2015)                           93
Timbuktu (2015)                                    99
Tomorrowland (2015)                                50
Top Five (2014)                                    86
Trainwreck (2015)                                  85
True Story (2015)                                  45
Two Days, One Night (2014)                         97
Unbroken (2014)                                    51
Unfinished Business (2015)                         11
Unfriended (2015)                                  60
Vacation (2015)                                    27
Welcome to Me (2015)                               71
What We Do in the Shadows (2015)                   96
When Marnie Was There (2015)                       89
While We're Young (2015)                           83
Wild Tales (2014)                                  96
Woman in Gold (2015)                               52
dtype: int64
Paul Blart: Mall Cop 2 (2015)                   5
Hitman: Agent 47 (2015)                         7
Hot Pursuit (2015)                              8
Fantastic Four (2015)                           9
Taken 3 (2015)                                  9
The Boy Next Door (2015)                       10
Unfinished Business (2015)                     11
The Loft (2015)                                11
Mortdecai (2015)                               12
Seventh Son (2015)                             12
The Vatican Tapes (2015)                       13
Sinister 2 (2015)                              13
Hot Tub Time Machine 2 (2015)                  14
The Lazarus Effect (2015)                      14
The Gallows (2015)                             16
Pixels (2015)                                  17
Strange Magic (2015)                           17
The Gunman (2015)                              17
Do You Believe? (2015)                         18
Serena (2015)                                  18
Aloha (2015)                                   19
Self/less (2015)                               20
Little Boy (2015)                              20
The Woman In Black 2 Angel of Death (2015)     22
Fifty Shades of Grey (2015)                    25
Jupiter Ascending (2015)                       26
Child 44 (2015)                                26
Terminator Genisys (2015)                      26
Dark Places (2015)                             26
The Wedding Ringer (2015)                      27
                                             ...
Birdman (2014)                                 92
The Hunting Ground (2015)                      92
The Wrecking Crew (2015)                       93
The Gift (2015)                                93
Spy (2015)                                     93
Monkey Kingdom (2015)                          94
I'll See You In My Dreams (2015)               94
Tangerine (2015)                               95
The Diary of a Teenage Girl (2015)             95
Red Army (2015)                                96
The Salt of the Earth (2015)                   96
It Follows (2015)                              96
What We Do in the Shadows (2015)               96
Wild Tales (2014)                              96
Two Days, One Night (2014)                     97
'71 (2015)                                     97
Mad Max: Fury Road (2015)                      97
Amy (2015)                                     97
About Elly (2015)                              97
Paddington (2015)                              98
Mr. Turner (2014)                              98
Inside Out (2015)                              98
Song of the Sea (2014)                         99
Shaun the Sheep Movie (2015)                   99
Selma (2014)                                   99
Leviathan (2014)                               99
Timbuktu (2015)                                99
Phoenix (2015)                                 99
Seymour: An Introduction (2015)               100
Gett: The Trial of Viviane Amsalem (2015)     100
dtype: int64